<!-- Title -->
<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="formValues.title">
    <button *ngIf="formValues.title" matSuffix mat-icon-button aria-label="Clear" (click)="formValues.title=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<!-- Zone -->
<mat-form-field>
    <mat-label>Zone</mat-label>
    <mat-select [(ngModel)]="formValues.zone">
        <mat-option *ngFor="let option of options.zone" value="option">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>

<!-- Status -->
<mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="formValues.active">
        <mat-option value="Active">active</mat-option>
        <mat-option value="Inactive">inactive</mat-option>
    </mat-select>
</mat-form-field>

<!-- Start date -->
<mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput type="date" [(ngModel)]="formValues.startDate">
    <button *ngIf="formValues.startDate" matSuffix mat-icon-button aria-label="Clear" (click)="formValues.startDate=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<!-- End date -->
<mat-form-field>
    <mat-label>End date</mat-label>
    <input matInput type="date" [(ngModel)]="formValues.endDate">
    <button *ngIf="formValues.endDate" matSuffix mat-icon-button aria-label="Clear" (click)="formValues.endDate=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<!-- Label -->
<mat-form-field>
    <mat-label>Zone</mat-label>
    <mat-select [(ngModel)]="formValues.label">
        <mat-option *ngFor="let option of options.label" value="option">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>
<button (click)="logForm()">LOG</button>