<!-- image -->
<button type="button" mat-raised-button color="accent" (click)="fileInput.click()">Choose File</button>
<br>
<input hidden #fileInput (change)="onFileSelected($event)" type="file" id="file">

<!-- Name -->
<mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="formValues.name">
    <button *ngIf="formValues.name" matSuffix mat-icon-button aria-label="Clear" (click)="formValues.name=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<!-- Priority -->
<mat-form-field>
    <mat-label>Priority</mat-label>
    <input matInput type="text" [(ngModel)]="formValues.priority">
    <button *ngIf="formValues.priority" matSuffix mat-icon-button aria-label="Clear" (click)="formValues.priority=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<!-- Zone -->
<mat-form-field>
    <mat-label>Zone</mat-label>
    <mat-select [(ngModel)]="formValues.zoneId">
        <mat-option *ngFor="let option of options.zoneId" [value]="option">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>

<!-- Channel -->
<mat-form-field>
    <mat-label>Channel</mat-label>
    <mat-select [(ngModel)]="formValues.channelId">
        <mat-option *ngFor="let option of options.channelId" [value]="option">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>

<div class="dates">
    <!-- Language -->
    <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="formValues.language">
            <mat-option *ngFor="let option of options.language" [value]="option">{{ option }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Status -->
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="formValues.active">
            <mat-option value="Active">active</mat-option>
            <mat-option value="Inactive">inactive</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="dates">
    <!-- Start date -->
    <mat-form-field>
        <mat-label>Start date</mat-label>
        <input matInput type="date" [(ngModel)]="formValues.startDate">
        <button *ngIf="formValues.startDate" matSuffix mat-icon-button aria-label="Clear"
            (click)="formValues.startDate=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!-- End date -->
    <mat-form-field>
        <mat-label>End date</mat-label>
        <input matInput type="date" [(ngModel)]="formValues.endDate">
        <button *ngIf="formValues.endDate" matSuffix mat-icon-button aria-label="Clear" (click)="formValues.endDate=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<!-- Label -->
<mat-form-field>
    <mat-label>label</mat-label>
    <mat-select [(ngModel)]="formValues.labels" multiple>
        <mat-option *ngFor="let option of options.labels" [value]="option">{{ option }}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="saveBanner()">Save</button>