<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over" position="end">
        <div class="btn-wrapper">
            <button class="toggle" type="button" mat-raised-button color="warn"
                (click)="openDrawer($event)"><mat-icon>close</mat-icon></button>
        </div>
        <app-banners-form></app-banners-form>
    </mat-drawer>

    <div class="sidenav-content" (click)="drawer.close()">
        <button class="toggle" type="button" mat-raised-button (click)="openDrawer($event)">
            Toggle sidenav
        </button>
        <app-table (rowClicked)="handleRowClick($event)"></app-table>

    </div>
</mat-drawer-container>